.conteudo .sobre-min {
  background-color: #25262a;
  display: flex;
  justify-content: center;
  padding: 0px 10px; }
  .conteudo .sobre-min > div {
    width: 1140px;
    padding: 0px 0px 40px 0px; }
    .conteudo .sobre-min > div > h2 {
      color: #fff;
      margin: 50px 0px 30px 0px;
      text-align: center;
      font-size: 22pt; }
    .conteudo .sobre-min > div > div {
      color: #fff;
      font-size: 12pt;
      display: flex; }
      .conteudo .sobre-min > div > div > div {
        display: flex;
        align-items: center; }
        .conteudo .sobre-min > div > div > div > div {
          text-align: justify;
          padding: 0px 50px 0px 0px; }
          .conteudo .sobre-min > div > div > div > div p {
            margin: 0px 0px 20px 0px; }
      .conteudo .sobre-min > div > div img {
        border-radius: 100%;
        border: 5px solid rgba(39, 188, 187, 0.3); }

.conteudo .minhas-habilidades {
  background: #27bcbb;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  color: #fff; }
  .conteudo .minhas-habilidades > h2 {
    padding: 0px 15px;
    font-weight: 400; }
  .conteudo .minhas-habilidades ul {
    display: flex;
    align-items: center; }
    .conteudo .minhas-habilidades ul li {
      list-style: none;
      padding: 0px 25px; }

.conteudo .ultimos-trabalhos {
  padding: 15px 10px;
  display: flex;
  justify-content: center; }
  .conteudo .ultimos-trabalhos > div {
    width: 1140px;
    padding: 0px 0px 40px 0px; }
    .conteudo .ultimos-trabalhos > div h2 {
      color: #25262a;
      margin: 50px 0px 30px 0px;
      text-align: center;
      font-size: 22pt; }
    .conteudo .ultimos-trabalhos > div > div {
      display: flex;
      justify-content: space-around; }

.conteudo .ultimos-projetos {
  padding: 15px 10px;
  display: flex;
  justify-content: center; }
  .conteudo .ultimos-projetos > div {
    width: 1140px;
    padding: 0px 0px 40px 0px; }
    .conteudo .ultimos-projetos > div h2 {
      color: #25262a;
      margin: 50px 0px 30px 0px;
      text-align: center;
      font-size: 22pt; }

.conteudo .postagens-recentes {
  padding: 15px 10px;
  display: flex;
  justify-content: center; }
  .conteudo .postagens-recentes > div {
    width: 1140px;
    padding: 0px 0px 40px 0px; }
    .conteudo .postagens-recentes > div h2 {
      color: #25262a;
      margin: 50px 0px 30px 0px;
      text-align: center;
      font-size: 22pt; }
    .conteudo .postagens-recentes > div ul li {
      border-left: 3px solid #27bcbb;
      border-right: 3px solid #27bcbb;
      display: flex;
      margin: 0px 0px 40px 0px; }
      .conteudo .postagens-recentes > div ul li figure {
        width: 100%; }
        .conteudo .postagens-recentes > div ul li figure img {
          width: 100%;
          display: block; }
      .conteudo .postagens-recentes > div ul li div {
        padding: 15px;
        position: relative; }
        .conteudo .postagens-recentes > div ul li div h3 {
          font-size: 22pt;
          color: #666; }
        .conteudo .postagens-recentes > div ul li div time {
          font-size: 10pt;
          color: #888; }
        .conteudo .postagens-recentes > div ul li div p {
          font-size: 10pt;
          color: #888;
          margin: 20px 0px 0px 0px; }
        .conteudo .postagens-recentes > div ul li div a {
          position: absolute;
          bottom: 0px;
          right: 0px;
          padding: 15px;
          text-decoration: none;
          background: #27bcbb;
          color: #fff;
          margin: 0px;
          font-weight: 600; }
