.footer{
    background: #25262a;
    padding: 25px 10px;
    p{
    	text-align: center;
    	color: #fff;
    	span{
			background-image: url(../img/coracao.png);
			background-repeat: no-repeat;
			color: transparent;
			background-size: 24px;
			background-position: center;
    	}
    }
}